
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #eef3f7;
  font-size: 16px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #7fccff;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 24px;
}

.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}


.registro,
.tabla {
  width: 95%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
}


.registro fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  margin-bottom: 5px;
  font-weight: bold;
}

.campo input,
.campo select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}


.registro button {
  grid-column: span 2;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: #2c2c2c;
  color: white;
  cursor: pointer;
}

.registro button:hover {
  background: #444;
}


.tabla {
  overflow-x: auto;
}

.tabla-citas {
  width: 100%;
  border-collapse: collapse;
}

.tabla-citas th,
.tabla-citas td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.tabla-citas th {
  background: #f3f3f3;
}

.tabla-citas tr:nth-child(even) {
  background: #fafafa;
}


.tabla button {
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

.btnEditar {
  background: #3498db;
  color: white;
}

.btnCancelar {
  background: #e74c3c;
  color: white;
}

.btnCompletar {
  background: #2ecc71;
  color: white;
}

.login {
  max-width: 350px;
  margin: 80px auto;
  padding: 25px;

  background-color: #f9f9f9;
  border-radius: 10px;
}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.login label {
  font-size: 14px;
}

.login input {
  padding: 8px;
  font-size: 14px;

  border: 1px solid #ccc;
  border-radius: 6px;

  width: 100%;
  box-sizing: border-box;
}

.login button {
  margin-top: 10px;
  padding: 10px;

  background-color: #2c2c2c;
  color: white;

  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login button:hover {
  background-color: #444;
}


@media (max-width: 768px) {
  .registro fieldset {
    grid-template-columns: 1fr;
  }

  .registro button {
    grid-column: span 1;
  }
}